{% load i18n %}{% autoescape off %}
{% blocktranslate %}You are receiving this email because a password reset request has been made for your user account at {{ site_name }}.{% endblocktranslate %}

{% translate "Please set a new password from the page that opens by clicking the link below:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your Username, in case you forgot:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}{{ site_name }} staff{% endblocktranslate %}

{% endautoescape %}