{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row d-flex justify-content-center">
                    <h1 class="text-center">Password Reset Email Sent</h1>
                    <div class="col-6 pt-4">
                        <div class="alert alert-success">
                            An email has been sent with instructions to reset your password.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}
