{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Index Page{% endblock %}

{% block content %}
        <!--Content-->
        <section id="content">
            <div class="container pt-5">
                <div class="row d-flex justify-content-center">
                    <h1 class="text-center">Index Page</h1>
                    <div class="col-6 pt-4">
                        <p>Index Page</p>
                    </div>
                </div>
            </div>
        </section>
        <!--End Content-->
{% endblock %}